body {
   font-family: Arial, Helvetica, sans-serif;
   display: flex;
   justify-content: center;
   background: linear-gradient( 0deg, red, black  );
   min-height: 100vh;

}

.main {
    display: flex;
    background-color: white;
    box-shadow: 0 10px 30px rgb(0, 0, 0, 0.1);
    padding: 30px;
    margin-top: 30px;
    width: 90%;
    max-width: 600px;
    flex-direction: column;
}
.header {
    font-size: 2.5em;
    text-align: center;
    color: black;
    margin-bottom: 20px;
}
