:root {
    --green: rgb(0, 255, 255);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    background: linear-gradient(0deg, rgb(246, 242, 242), rgb(196, 173, 173));
    min-height: 100vh;

}

.main {
    display: flex;
    background-color: white;
    box-shadow: 0 10px 30px rgb(0, 0, 0, 0.1);
    padding: 30px;
    margin-top: 30px;
    width: 90%;
    max-width: 600px;
    flex-direction: column;
}

.header {
    font-size: 2.5em;
    text-align: center;
    color: rgb(20, 73, 12);
    margin-bottom: 20px;
}

.imput-area {
    width: 100%;
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

#imput-task {
    padding: 12px 15px;
    border: 2px solid blue;
    border-radius: 10px;
    font-size: 1.1em;

    flex-grow: 1;
    box-sizing: border-box;

    transition: all 0.5s ease;
}

#imput-task:focus {
    padding: 20px 40px;
    border: 2px solid rgb(23, 13, 13);
}

#add-btn {
    border: none;
    padding: 12px 20px;
    border-radius: 10px;
    font-size: 1.1em;
    font-weight: bold;

    background: linear-gradient(45deg, green, blue);
    color: white;
    cursor: pointer;

    transition: all 0.3s ease;
}

#add-btn:hover {
    opacity: 0.9;
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.9);
}

.task-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.taskp {
    background-color: rgb(255, 255, 255);
    padding: 15px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.30);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.2 ease;
}


.taskp:hover {
    transform: translateY(-3px);
}

.task-content {
    font-size: 1.2em;
    margin-right: 15px;
    word-wrap: break-word;
    line-height: 1.4;
    flex-grow: 1;
}


.task-a {
    display: flex;
    gap: 10px;
}

.task-bth {
    background-color: rgb(241, 24, 42);
    color: var(--green);
    border: none;
    border-radius: 50%;
    height: 30px;
    display: flex;
    justify-content: center;
    font-size: 0.9em;
    cursor: pointer;
    opacity: 0.6;
    align-items: center;
    width: 30px;
}

.HayP {
    border-left: 8px solid rgb(198, 17, 17);
}

.HayM {
    border-left: 8px solid rgb(169, 204, 11);
}

.HayL {
    border-left: 8px solid rgb(55, 223, 39);
}

.taskp.complet {
    background-color: rgb(229, 211, 211);
    opacity: 0.6;
    box-shadow: 0, 2px, 8px, rgba(146, 196, 186, 0.5);

}

.taskp.complet .task-content {
    text-decoration: line-through;
    color: rgb(12, 12, 12);
}

.task-list:not(:has(>*))::before {
    content: "На этом все";
    padding: 30px;
    display: block;
    font-style: italic;
    text-align: center;
}