:root {
    --green: rgb(0, 255, 255);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    background: linear-gradient(0deg, rgb(246, 242, 242), rgb(196, 173, 173));
    min-height: 100vh;

}

.main {
    display: flex;
    background-color: white;
    box-shadow: 0 10px 30px rgb(0, 0, 0, 0.1);
    padding: 30px;
    margin-top: 30px;
    width: 90%;
    max-width: 600px;
    flex-direction: column;
}

.header {
    font-size: 2.5em;
    text-align: center;
    color: rgb(20, 73, 12);
    margin-bottom: 20px;
}

.imput-area {
    width: 100%;
    display: flex;
    gap: 10px;
    margin-bottom: 30px;
}

#imput-task {
    padding: 12px 15px;
    border: 2px solid blue;
    border-radius: 10px;
    font-size: 1.1em;

    flex-grow: 1;
    box-sizing: border-box;

    transition: all 0.5s ease;
}

#imput-task:focus {
    border-color: var(--green);
}

#add-btn {
    border: none;
    padding: 12px 20px;
    border-radius: 10px;
    font-size: 1.1em;
    font-weight: bold;

    background: linear-gradient(45deg, green, blue);
    color: white;
    cursor: pointer;

    transition: all 0.3s ease;
}

#add-btn:hover {
    opacity: 0.9;
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.9);
}

